DB_NAME=app_db
DB_USER=app_user
# DB_PASSWORD=ais3-dev-db-password
# JWT_SECRET_KEY=ais3-dev-jwt-secret-change-this
REDIS_HOST=redis
REDIS_PORT=6379

FLAG_STAGE2=AIS3{JwT_15_uNbRE4k4BL3(ᗒᗣᗕ)}
FLAG_STAGE3=AIS3{R3Ad_THE_SOuRce_COde_NeXT_7!Me_1o1}

# SSH_PIVOT_PASSWORD=AIS3-ops-2026
